{# <header role="banner" class="layout-content">
  {{ page.header }}
</header> #}

{# Fake header #}
<div class="bg-[#E5E7EB] h-[64px]">
  <div class="container flex items-center justify-between h-full">
    <a href="/"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M35 8.75V17.5C35 25.7375 31.0125 30.7297 27.6672 33.4672C24.0641 36.4141 20.4797 37.4156 20.3234 37.4562C20.1086 37.5147 19.882 37.5147 19.6672 37.4562C19.5109 37.4156 15.9313 36.4141 12.3234 33.4672C8.9875 30.7297 5 25.7375 5 17.5V8.75C5 8.08696 5.26339 7.45107 5.73223 6.98223C6.20107 6.51339 6.83696 6.25 7.5 6.25H32.5C33.163 6.25 33.7989 6.51339 34.2678 6.98223C34.7366 7.45107 35 8.08696 35 8.75Z" fill="#9CA3AF"></path></svg>
    </a>
    <div class="bg-[#9CA3AF] h-[16px] w-[268px] rounded"></div>
  </div>
</div>
