<ul>
  <li><a href="#" class="text-style-link">Default link</a></li>
  <li>An <a href="#" class="text-style-link-inline">inline link</a>, in some context.</li>
  <li><a href="#" class="text-style-link text-style-link-active">Active link</a></li>
  <li><a href="#" class="text-style-link text-style-link-hover">Hover link</a></li>
  <li><a href="#" class="text-style-link text-style-link-focus">Focus link</a></li>
</ul>
