<div>
  <div class="text-style-heading-title p-8">The quick brown fox jumps over the lazy dog</div>
  <div class="text-style-heading-display p-8">The quick brown fox jumps over the lazy dog</div>
  <div class="text-style-heading-lg p-8">The quick brown fox jumps over the lazy dog</div>
  <div class="text-style-heading-md p-8">The quick brown fox jumps over the lazy dog</div>
  <div class="text-style-heading-sm p-8">The quick brown fox jumps over the lazy dog</div>
  <div class="text-style-heading-xs p-8">The quick brown fox jumps over the lazy dog</div>
  <div class="text-style-body-lg p-8">The quick brown fox jumps over the lazy dog</div>
  <div class="text-style-body-md p-8">The quick brown fox jumps over the lazy dog</div>
  <div class="text-style-body-sm p-8">The quick brown fox jumps over the lazy dog</div>
</div>
