{#
/**
 * The text component of a page.
 *
 * content - HTML content
 */
#}

<div class="text-[18px] text-[#131922] mb-[64px] leading-[1.5] flex flex-col gap-3 text-formatted max-w-[662px] mx-auto">
    {{ content }}
</div>
